body {
	margin: 15px auto;
}

canvas.game_of_life {
	position: fixed;
	z-index: -100;
	top: 0px;
	left: 0px;
}

h1 {
	font-family: 'SFPixelateShadedBold';
	margin: 0 auto;
	color: #11FF11;
	text-align: center;
}

div.nav {
	display: flex;
	width: 70%;
	margin: 0px auto;
}

div.navbutton {
	float: left;
	width: 25%;
	font-family: 'SFPixelateBold';
	font-size: 2.4vw;
	border: 2px solid white;
	border-radius: 0.25vw 0.25vw 0px 0px;
	transition: background 0.5s;
	transition: color 0.5s;
	transition: background 0.5s;
	background: #000000;
	padding-bottom: 0.6vh;
	text-align: center;
	cursor: pointer;
}

div.navbutton a {
	position: relative;
	top: 0.4vh;
	text-decoration: none;
	color: #2222DD;
	transition: color 0.5s;
}

div.navbutton:hover {
	background: #11FF11;
	color: #000000;
	transition: color 0.5s;
	transition: background 0.5s;
}

div.navbutton:hover a {
	color: #000000;
	transition: color 0.5s;
}

div.page_body {
	font-family: 'PT Mono', monospace;
	width: 70%;
	margin: 0 auto;
	background: rgba(200, 200, 200, 0.5);
	font-size: 1vw;
	border: 0px;
	border-radius: 0px 0px 2px 2px;
	min-height: 75vh;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (orientation:portrait) {
	div.page_body {
		width: 100% !important;
		min-height: 0vh !important;
	}

	div.nav {
		width: 100% !important;
	}

	div.navbutton {
		font-size: 3.43vw !important;
	}
}

div.card {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #EEEEEE;
	border-radius: 5px;
	box-shadow: 0px 0px 15px black;
}

div.card h2 {
	margin: 0px;
	text-align: center;
}

div.card p {
	font-size: 1vmax;
	margin: 0px 10px 0px 10px;
}

div.card img {
	display: block;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 10px #AAAAAA;
}
